$colors: (primary: #247BA0,
secondary: #70C1B3,
tertiary: #4C5B5C,
quaternary: #F3FFBD,
background: #fff);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: color(background);
    line-height: 1.57;
    font-family: 'Titillium Web', sans-serif;
}

// barra de rolagem padrão
::-webkit-scrollbar {
    width: 0.5rem;
    height: 10px;

}

// Are do caminho que a barra vai percorrer
::-webkit-scrollbar-track-piece {
    background-color: #ffffff;

}

// Responsável por editar como será a scrollbar na vertical do site;
::-webkit-scrollbar-thumb:vertical {
    height: 5px;
    background-color: #666;

}

// Personaliza a barra que ao invés de ser na vertical, é na horizontal.
::-webkit-scrollbar-thumb:horizontal {
    width: 5px;
    background-color: #666;

}


.divider {
    width: 40%;
    margin: 0 auto;
    height: 1.5px;
    outline: none;
    border: none;
    display: block;
}

.divider-card {
    width: 70%;
    margin: 0 auto;
    height: 1.5px;
    outline: none;
    border: none;
    display: block;
    margin: 5px 0;
}



.divider-secondary {
    background: #485563;
    background: -webkit-linear-gradient(to right, #29323c, #485563);
    background: linear-gradient(to right, #29323c, #485563);
}

.divider-primary {
    background: #06beb6;
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    background: linear-gradient(to right, #48b1bf, #06beb6);
}

.divider-tertiary {
    background: #fff;
}



.link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: .5s all ease-in-out;

}

.link:hover {
    color: #666;
}

.typewrite__wrapper {
    border-right: 2px solid #fff;
    padding-right: 4px;

}

.show {
    opacity: 1 !important;
}


// BG COLORS
.bg-1 {
    background-color: #06beb6;
}

.bg-2 {
    background-color: #26547C;

}

.bg-3 {
    background-color: #EF476F;
}

.bg-4{
    background-color: #FFD166;
}



canvas {
    z-index: 0;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
}

.fa-user-tie{
    font-size: 2.4rem;
    margin-right: 1.2rem;
    
}

.fa-code{
    font-size: 2.4rem;
    margin-left: 1.2rem;
    
}