.intro {
    -webkit-clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
    clip-path: polygon(50% 100%, 100% 85%, 100% 0, 0 0, 0 85%);
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    transition: 0.8s all ease-in-out;

    &__nav {
        position: absolute;
        top: 30%;
        right: 5%;
        transition: 1s ease-in-out;
        opacity: 0;

        & ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: start;
            color: white;
            text-transform: uppercase;


            & li {
                margin: 0.5rem 0;
                border-left: 2px solid white;
                padding-left: 5px;
                transition: .2s ease-in;

                & a {
                    text-decoration: none;
                    color: white;
                    cursor: pointer;
                }

                &:hover {
                    border-left: 2px solid #545454;
                    font-weight: bold;
                }
            }
        }
    }

    &__menu {

        &__cta {

            position: absolute;
            top: 8%;
            right: 4%;
            display: block;
            cursor: pointer;
            height: 30px;
            display: flex;
            align-items: center;

        }

        .toggle-btn {
            height: 2px;
            width: 30px;
            background-color: #fff;
            position: relative;
            margin: auto;
            transition: all 0.3s ease-in-out;
        }


        .toggle-btn:before {
            content: "";
            height: 2px;
            width: 30px;
            box-shadow: 0 -10px 0 0 #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .toggle-btn:after {
            content: "";
            height: 2px;
            width: 30px;
            box-shadow: 0 10px 0 0 #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .active .btn-1 {
            background-color: #fff;
            transform: rotate(45deg);
        }

        .active .btn-1:before {
            left: -10px;
            box-shadow: 0 -10px 0 0 #fff;
            transform: translateY(0) rotate(90deg);
        }

        .active .btn-1:after {
            box-shadow: 0 0 0 0 #fff;
        }
    }

    &__brand {
        position: absolute;
        top: 5%;
        left: 5%;
        color: #ffe;
        text-transform: uppercase;
        font-size: 2rem;
        animation: brandAnime 5s ease-in-out alternate-reverse infinite;
    }

    &__text {
        color: white;
        z-index: 100;

        top: 50%;
        transform: translateY(-50%);
        position: absolute;

    }

    &__title {
        font-size: 3rem;

    }

    &__subtitle {
        font-size: 1.5rem;
        animation: subAnime 5s ease-in-out alternate-reverse infinite;
    }
}


.projects {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    background: url(../img/bgprojects.jpg);
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // background:rgba(0,0,0, 0.03);
    -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
    clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);

    margin-top: .2rem;
    padding: 8rem 0 12rem 0;

    &__header {
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: #06beb6;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.6rem;

        &__item {
            background-color: #06beb6;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            box-shadow: 0px 1px 8px 0px gray;
            cursor: pointer;
            color: white;

        }
    }
}


.repositories {
    text-align: center;
    padding: 5rem 0;

    margin-top: .2rem;


    &__header {
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: #EF476F;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: minmax(130px, auto);
        grid-gap: 1.6rem;

        &__item {
            padding: 1.8rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 1px 8px 0px gray;
            color: white;

            &__title {
                font-size: 1.5rem;
            }

            &__text {
                font-size: 1rem;
                background-color: rgba(255, 255, 255, 0.12);
                margin-top: .4rem;
                padding: 1rem;
            }

            &__footer {
                margin-top: 1.6rem;
                color: #323232;
                align-self: flex-end;
                // border-radius: 5px;
                padding: .4rem 3rem;

                border: 2px solid white;

                & a {
                    text-decoration: none;
                    color: white;

                    &:hover {
                        opacity: 0.8;
                        ;
                    }
                }
            }
        }

    }
}


.container60 {

    width: 60%;
    margin: 0 auto;
}

.container80 {
    width: 80%;
    margin: 0 auto;
}

.container70 {
    width: 70%;
    margin: 0 auto;
}

.container50 {
    width: 50%;
    margin: 0 auto;
}



.team {
    text-align: center;

    background: #eee;
    -webkit-clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);

    margin-top: .2rem;
    padding: 8rem 0;

    &__header {
        font-size: 1.8rem;
        margin-bottom: 3rem;
        color: cornflowerblue;
    }

    &__grid {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1.6rem;

        &__item {
            background-color: lightskyblue;
            height: 130px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
            box-shadow: 0px 1px 8px 0px gray;
            cursor: pointer;
            color: white;
        }
    }
}

.footer {
    background-color: #06beb6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: white;

    padding: 1.5rem 0;
}

.social-media {
    height: 150px;
    background-color: #f3f3f3;
    color: black;
    font-size: rem;
    display: flex;
    align-items: center;

    &__container {
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__item i {
        font-size: 2.8rem;
        color: #06beb6;
        cursor: pointer;
        margin: 0 0.8rem;


        &:hover {
            opacity: 0.6;
        }
    }
}

@media (max-width: 576px) {

    .repositories__grid{
        grid-template-columns: 1fr;
        
    }

    .projects{
        -webkit-clip-path: none;
    clip-path: none;
    margin-top: -9rem;
    padding: 15rem 0 19rem 0;
    
    }

    .projects__grid{
        grid-template-columns: 1fr;
        width: 85%;
    }

    .team{
        margin-top: -11rem;
    }

    .team__grid{
        grid-template-columns: 1fr 1fr;
        width: 85%;
    }
 }


 @media (min-width: 768px) {
    .projects__grid{
        grid-template-columns: 1fr 1fr;
       
    }

    .repositories__grid{
        grid-template-columns: 1fr 1fr;
       
    }

    .team__grid{
        grid-template-columns: 1fr 1fr;
       
    }
  }

  @media (min-width: 992px) {
    .projects__grid{
        grid-template-columns: 1fr 1fr ;
       
    }

    .repositories__grid{
        grid-template-columns: 1fr 1fr ;
       
    }

    .team__grid{
        grid-template-columns: 1fr 1fr ;
       
    }
  }

  @media (min-width: 992px) {
    .projects__grid{
        grid-template-columns: 1fr 1fr 1fr;
       
    }

    .repositories__grid{
        grid-template-columns: 1fr 1fr 1fr;
       
    }

    .team__grid{
        grid-template-columns: 1fr 1fr 1fr;
       
    }
  }