@import '__global.scss';

.intro {
    clip-path: polygon(100% 0, 100% 82%, 45% 100%, 0 100%, 0 0);
    background: #06beb6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #48b1bf, #06beb6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &__menu {
        .cta {
            position: absolute;
            top: 8%;
            right: 4%;
            height: 50px;
            width: 50px;
            cursor: pointer;
        }

        .toggle-btn {
            height: 2px;
            width: 30px;
            background-color: #fff;
            position: relative;
            margin: auto;
            transition: all 0.3s ease-in-out;
        }

        .toggle-btn:before {
            content: "";
            height: 2px;
            width: 30px;
            box-shadow: 0 -10px 0 0 #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .toggle-btn:after {
            content: "";
            height: 2px;
            width: 30px;
            box-shadow: 0 10px 0 0 #fff;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.3s ease-in-out;
        }

        .active .type9 {
            background-color: #fff;
            transform: rotate(45deg);
        }

        .active .type9:before {
            left: -10px;
            box-shadow: 0 -10px 0 0 #fff;
            transform: translateY(0) rotate(90deg);
        }

        .active .type9:after {
            box-shadow: 0 0 0 0 #fff;
        }
    }

    &__brand {
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 3rem;
        color: #ffe;
        text-transform: uppercase;
        font-size: 3rem;
        animation: brandAnime 5s ease-in-out alternate-reverse infinite;
    }

    &__text {
        color: white;

    }

    &__title {
        font-size: 3rem;

    }

    &__subtitle {
        font-size: 1.5rem;
        animation: subAnime 5s ease-in-out alternate-reverse infinite;
    }

    @keyframes subAnime {
        0% {
            color: #4C5B5C;
        }

        100% {
            color: #fff;
        }
    }

    @keyframes brandAnime {
        0% {
            transform: rotate(-10deg);
        }
    }

    @keyframes bgAnime {
        100% {
            background-color: white;
        }
    }
}